<div class="row justify-content-center">
    <div class="col-6">
        <% include ./partials/errorMessages %>
        <form class="ui form" method="POST" action="/login">
            <div class="field">
                <label>E-mail</label>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="ui button">Submit</button>
        </form>
    </div>
</div>