<div class="row justify-content-center">
    <div class="col-6">
        <% include ./partials/errorMessages %>
        <form method="POST" action="/transactions">
            <div class="form-group">
                <label>recipient's address</label>
                <input name="address" class="form-control" type="text" value="C1rGdt7QEPGiwPMFhNKNhHmyoWpa5X92pn" placeholder="Address" required>
                <label>Amount</label>
                <input name="value" class="form-control" type="number" value="100000"  placeholder="Amount" required>
                
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
</div>