<div class="Container"> 
    
    
    
    <h2 class="text-center">Your wallet is Ready!</h2>
    <div class="card" style="width: 70rem;">
            <div class="card-header text-center">
              Your Keys
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Your public key : <%=address.public%></li>
              <li class="list-group-item">Your address key : <%=address.address%></li>
              <li class="list-group-item">Your private key (Don't show this to anyone): <%=address.private%></li>
              <li class="list-group-item"> WIP : <%=address.public%></li>

            </ul>
          </div>

</div>